body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}