/* Общие стили для всех страниц */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

a {
  display: inline-block;
  margin: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}