div:nth-of-type(1),
div:nth-of-type(3) {
  color: red;
}

div:nth-of-type(2),
div:nth-of-type(4) {
  color: green;
}

h2.header {
  font-size: 40px;
}

h3.header {
  font-size: 30px;
}

.bbb .zzz {
  color: red;
}

/* Выбираем все абзацы, класс которых начинается с 'top-' */
p[class^="top-"] {
  color: blue;
  font-weight: bold;
}